.body-tutorial {
    height: 100%;
    width: 100%;
    background: beige;
}

.buttons-tutorial {
    margin-top:80%;
}

.images-tutorial {
    margin-top: 50%;
}

.label-tutorial {
    margin-top: 100%;
}